* {
    box-sizing: border-box;
    margin: 0px;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(216, 220, 227);
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: #d8dce3;
    color: #03388f;
    font-weight: bold;
    height: 6vh;
}

nav .links {
    display: flex;
    gap: 0 20px;

}
.links p {
    padding: 10px;
}

.tab:hover {
    color: #008cff;
}

.tab {
    cursor: pointer;
}

#mobile-menu-btn {
    display: none;
}
.mobile-menu {
    color: #d8dce3;
    display: none;
    position: absolute;
    right: 0;
    height: 40vh;
    width: 100%;
    font-weight: bold;
    background-color: #03388f;
}

@media (max-width: 600px) {
    #mobile-menu-btn {
        display: block;
    }
    nav p {
        display: none;
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

#projects {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    display: none;
}

#otherWork {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    display: none;
}

#contact {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    display: none;
}

#about {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    display: none;
}

/*

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #70093e;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.temp-container {
    position: relative;
    max-width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

a.temp:link {color: #f8e502;}
a.temp:visited {color: #e1a4c0;}
a.temp:hover {background: #66ff7f; color: #155002}

*/

/* Tabs */

/*
.tablink {
    background-color: #385d60;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #5b868c;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#projects {
    background-color: #48757a;
}
#otherWork {
    background-color: #48757a;
}
#contact {
    background-color: #48757a;
}
#about {
    background-color: #48757a;
}

*/